

.input {
    margin-bottom: 30px;
    &:last-child {
        margin-bottom: 0;
    }
    input {
        padding: 15px 20px;
        width: 100%;
        border: 1px solid #e6e6e6;
        &::-webkit-input-placeholder {
            color: #c6c6c6;
        }
        &::-moz-placeholder {
            color: #c6c6c6;
        }
    }
}

.textarea {
    margin-bottom: 30px;
    textarea {
        padding: 15px 20px;
        width: 100%;
        border: 1px solid #e6e6e6;
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
        height: 200px;
        resize: none;
        &::-webkit-input-placeholder {
            color: #c6c6c6;
        }
        &::-moz-placeholder {
            color: #c6c6c6;
        }
    }
}
